<div data-role="view" id="view-all-charts" class="activities-view" data-role="view"
        data-title="Projects">

    <div data-role="header">
        <div data-role="navbar">
            Stok Parts & Material
        </div>
    </div>
    
        <ul id="signup-form" data-role="listview" data-style="inset">
            <li><b>Parts</b>
                <table>
                <tr><td><b>Nama</b></td><td><b>Jumlah</b></td><td><b>Harga Satuan</b></td></tr>
                <tr><td>Bomag BW211D-40</td><td>10</td><td>Rp 4.300.000</td></tr>
                <tr><td>Steel Canopy D85</td><td>2</td><td>Rp 13.500.000</td></tr>
                </table>
            </li>
            <li><b>Material</b>
                <table>
                <tr><td><b>Nama</b></td><td><b>Jumlah</b></td><td><b>Harga Satuan</b></td></tr>
                <tr><td>Pelat 6mm</td><td>2 lembar</td><td>Rp 5.000.000</td></tr>
                <tr><td>Pelat 12mm</td><td>4 lembar</td><td>Rp 9.000.000</td></tr>
                </table>
            </li>
        </ul>


    <!--Footer-->
        <div data-role="footer">
            <div data-role="tabstrip">
                <a href="views/activitiesView.html" data-icon="globe">Pengumuman</a>
                <a href="views/projectsView.html" data-icon="globe">Proyek</a>
                <a href="views/stocksView.html" data-icon="recents">Stok</a>
            </div>
        </div>
</div>
