<div data-role="view" id="view-all-charts" class="activities-view" data-role="view"
        data-title="Projects"
        data-show="app.pieChart_Projects.createPieChart"
        >

    <div data-role="header">
        <div data-role="navbar">
            Proyek
        </div>
    </div>
    
                <div id="pie-chart_Projects"></div>
        <ul id="signup-form" data-role="listview" data-style="inset">
            <li>
            </li>
            <li>
                <table>
    <tr><td><b>Job</b></td><td><b>Perusahaan</b></td><td><b>Pekerjaan</b></td><td><b>Target</b></td></tr>
                    <tr><td>549</td><td>Marco Engineering</td><td>140 bucket</td><td class="icon-green">&nbsp;</td></tr>
                    <tr><td>548</td><td>Maju Jaya Makmur</td><td>Roll pipa 6" 24 btg</td><td class="icon-green">&nbsp;</td></tr>
                    <tr><td>547</td><td>Dika Mandiri</td><td>Roll pipa 1.5" 4 btg</td><td class="icon-green">&nbsp;</td></tr>
                    <tr><td>542</td><td>Muria Agung</td><td>Roll pipa 1.5" 11 btg</td><td class="icon-green">&nbsp;</td></tr>
                    <tr><td>540</td><td>Grand Kartech</td><td>Roll pipa 2.5" 1 btg</td><td class="icon-green">&nbsp;</td></tr>
    </table>
            </li>            
            <li>
                <table>
                    <tr><td class="red-text"><b>Gaji Bulan ini</b></td><td class="red-text"><b>Rp 24.610.000</b></td></tr>
                    <tr><td class="red-text"><b>Jam Kerja Tercatat</b></td><td class="red-text"><b>272 jam</b></td></tr>
                    <tr><td class="red-text"><b>Harga Per Jam Kerja</b></td><td class="red-text"><b>Rp 90.477</b></td></tr>
                </table>
            </li>
            <li>
                <table>
                    <tr><td><b>Proyek 549</b></td><td><b>Marco Engineering</b></td></tr>
                <tr><td><b>Invoice</b></td><td>Rp 168.000.000</td></tr>
                <tr><td><b>Material</b></td><td>Rp 41.625.000</td></tr>
                    <tr><td><b>Pengerjaan: 184 jam</b></td><td>Rp 16.648.000</td></tr>
                </table>
            </li>
            <li>
                <table>
                <tr><td><b>Proyek 548</b></td><td><b>Maju Jaya Makmur</b></td></tr>
                <tr><td><b>Invoice</b></td><td>Rp 14.400.000</td></tr>
                <tr><td><b>Material</b></td><td>Rp 0</td></tr>
                    <tr><td><b>Pengerjaan: 16 jam</b></td><td>Rp 1.448.000</td></tr>
                </table>
            </li>            
            <li>
                <table>
                <tr><td><b>Proyek 547</b></td><td><b>Dika Mandiri</b></td></tr>
                <tr><td><b>Invoice</b></td><td>Rp 600.000</td></tr>
                <tr><td><b>Material</b></td><td>Rp 0</td></tr>
                    <tr><td><b>Pengerjaan: 24 jam</b></td><td>Rp 2.171.448</td></tr>
                </table>
            </li>            
            <li>
                <table>
                <tr><td><b>Proyek 542</b></td><td><b>Muria Agung</b></td></tr>
                <tr><td><b>Invoice</b></td><td>Rp 2.200.000</td></tr>
                <tr><td><b>Material</b></td><td>Rp 0</td></tr>
                    <tr><td><b>Pengerjaan: 24 jam</b></td><td>Rp 2.171.448</td></tr>
                </table>
            </li>            
            <li>
                <table>
                <tr><td><b>Proyek 540</b></td><td><b>Grand Kartech</b></td></tr>
                <tr><td><b>Invoice</b></td><td>Rp 400.000</td></tr>
                <tr><td><b>Material</b></td><td>Rp 0</td></tr>
                    <tr><td><b>Pengerjaan: 24 jam</b></td><td>Rp 2.171.448</td></tr>
                </table>
            </li>                      
        </ul>


    <!--Footer-->
        <div data-role="footer">
            <div data-role="tabstrip">
                <a href="views/activitiesView.html" data-icon="globe">Pengumuman</a>
                <a href="views/projectsView.html" data-icon="globe">Proyek</a>
                <a href="views/stocksView.html" data-icon="recents">Stok</a>
            </div>
        </div>
</div>
