<div data-role="view" id="view-all-charts" class="activities-view" data-role="view"
        data-title="Pie Chart"
        data-show="app.pieChart_Sales.createPieChart"
        data-hide="app.pieChart_Sales.unbindResizeEvent"
        data-stretch="true">
          <!-- Pie Chart View -->
    
    <div id="pie-chart_Sales"></div>

    <div data-role="header">
        <div data-role="navbar">
            Penjualan
            <a class="nav-button nav-button-activities hide-text" data-align="left" data-role="button" href="views/activitiesView.html">Pengumuman</a>
        </div>
    </div>
    

    <!--Footer-->
        <div data-role="footer">
            <div data-role="tabstrip">
                <a href="views/projectsView.html" data-icon="globe">Proyek</a>
                <a href="views/salesView.html" data-icon="globe">Penjualan</a>
                <a href="views/bonusView.html" data-icon="recents">Bonus</a>
                <a href="views/stocksView.html" data-icon="recents">Stok</a>
            </div>
        </div>
</div>
